{% extends 'base.html' %}


{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-6">
                <form method="post" > {% csrf_token %}
                    <h1 class="text-center fw-bold text-white mb-3">Register</h1>
                    <!-- {{form}} -->
                    {% if messages %}
                        {% for message in messages %}
                            {% if message.tags == 'error' %}
                                <p class="text-danger text-center">{{message}}</p>
                            {% else %}
                                <p class="text-primary text-center">{{ message }}</p>    
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    <input type="text" name="username" placeholder="Username", class="form-control" required>
                    <input type="text" name="firstname" placeholder="Firstname" class="form-control" required>
                    <input type="text" name="lastname" placeholder="Lastname" class="form-control" required>
                    <input type="email" name="email" placeholder="Email" class="form-control" required>
                    <input type="password" name="password1" placeholder="password" class="form-control" required>
                    <input type="password" name="password2" placeholder="confirm password" class="form-control" required>
                    <button type="submit" class="btn btn-secondary form-control">Register</button>
                    <p class="text-white text-center mt-2">Already have an account?</p>
                    <a href="{% url 'login' %}" class="btn btn-primary form-control">Login</a>
                </form>
            </div>
        </div>

    </div>
{% endblock %}